#form-contato {
    width: 800px;
    margin: 20px auto 50px;
    padding: 30px;
    background: #ffffff86;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Títulos e labels */
#form-contato label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

/* Inputs e textarea */
#form-contato input,
#form-contato textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

#form-contato input:focus,
#form-contato textarea:focus {
    border-color: #0078D7;
    outline: none;
}

#form-contato label.consentimento {
    display: flex;
    align-items: stretch;
    gap: 8px;
    font-weight: normal;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

label.consentimento input[type="checkbox"] {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

label.consentimento span {
    line-height: 1.4;
    display: inline;
    white-space: nowrap;
    height: auto;
}

label.consentimento a {
    color: #007bff;
    text-decoration: underline;
}

/* Botões */
.botoes-contato {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.botoes-contato button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* Botão WhatsApp */
#btn-whatsapp {
    background-color: #25D366;
    color: white;
}

#btn-whatsapp:hover {
    background-color: #1ebe5d;
    transform: scale(1.03);
}

/* Botão E-mail */
.botoes-contato button[type="submit"] {
    background-color: #0078D7;
    color: white;
}

.botoes-contato button[type="submit"]:hover {
    background-color: #005fa3;
    transform: scale(1.03);
}

/* Ícones */
.botoes-contato i {
    font-size: 18px;
}

@media (max-width:480px) {
    #form-contato {
        width: 90%;
    }

    #form-contato,
    label.consentimento {
        align-items: flex-start;
    }

    label.consentimento span {
        width: 300px;
        height: auto;
        box-sizing: border-box;
        font-size: 0.8rem;
    }
}