.roda-pe {
    background-color: #000;
    padding: 30px 15px;
    color: #fff;
}

.conteudo-roda-pe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.titulo-roda-pe h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.titulo-roda-pe p {
    font-size: 1.1rem;
    padding: 0 10px;
}

.links-navegacao-roda-pe ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-navegacao-roda-pe li {
    margin: 10px 0;
    text-align: center;
}

.links-navegacao-roda-pe a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
    background: none;
}

.links-navegacao-roda-pe a:hover {
    color: #0d3ca0;
}

.agrupa-links-redes-sociais {
    /* display: flex; */
    width: 300px;
    height: 100px;
}

.redes-sociais-roda-pe {
    display: flex;
    gap: 20px;
    align-items: center;

}

.redes-sociais-roda-pe a i {
    margin-left: 50px;
}

.redes-sociais-roda-pe a {
    text-decoration: none;
}

.redes-sociais-roda-pe i {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.redes-sociais-roda-pe i:hover {
    color: #0d3ca0;
}

.ecopy {
    margin-top: 20px;
    text-align: center;
}

.ecopy p {
    font-size: 1rem;
}

.ecopy::before {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto 15px;
}

@media (min-width: 768px) {
    .conteudo-roda-pe {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        max-width: 1200px;
        margin: 0 auto;
        align-items: flex-start;
    }

    .titulo-roda-pe,
    .agrupa-links-navegacao,
    .agrupa-links-redes-sociais {
        width: 30%;
    }

    .redes-sociais-roda-pe {
        justify-content: flex-start;
        gap: 15px;
    }

    .ecopy {
        padding: 10px 0;
    }

    .ecopy::before {
        width: 85%;
        margin-bottom: 10px;
    }
}