.contato {
    height: auto;
    background: url('../assets/banner-metas-tags.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

.contato::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.685);
    /* escurece o fundo */
    z-index: 1;
}

.conteudo-contato {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-contato h2 {
    color: #fff;
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin-top: 4rem;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 5px;
    z-index: 2;
    position: relative;
}

.conteudo-contato p {
    font-size: clamp(1.4rem, 3vw, 1.4rem);
    color: #fff;
    margin-bottom: 40px;
    padding: 5px;
    width: 90%;
    text-align: center;
    z-index: 2;
    position: relative;
}

.conteudo-contato button {
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: #A32D00;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.conteudo-contato button:hover {
    background-color: #e03e00;
}

@media(max-width:600px) {
    .contato {
        margin-top: 3rem;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}